.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardsleft {
  justify-content: flex-start;

  @media (max-width: 60rem) {
    justify-content: space-between;
  }

  & figure {
    margin-right: 1.3rem;

    @media (max-width: 60rem) {
      margin-right: 0;
    }
  }
}

.item {
  border-radius: 0.75rem;
  overflow: hidden;
  margin: 0;
  width: 23.5%;
  background: white;
  box-shadow:  0 0.5rem 1rem #cbd9d7;

  @media (max-width: 60rem) {
    width: 48.5%;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 35rem) {
    width: 100%;
  }

  & img {
    width: 100%;
    height: 20rem;
    object-fit: cover;

    @media (max-width: 35rem) {
      height: 16rem;
      object-position: bottom;
    }
  }

  & p {
    margin: 0;
    padding: 1.25rem;
    background: white;
  }
}