.container {
  max-width: 100rem;
  margin: 5rem auto 0;
  display: flex;
  min-height: 48rem;

  .img {
    max-height: 48rem;
  }

  @media (max-width: 60rem) {
    margin-top: 5rem;
  }

  @media (max-width: 50rem) {
    margin-top: 0;
    flex-wrap: wrap;

    .img {
      order: 2;
      max-height: 27.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.inner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 50rem) {
    width: 100%;
    justify-content: start;
  }

  .innerContent {
    max-width: 35rem;
    padding: 6rem 4rem;
  
    @media (max-width: 60rem) {
      padding: 4rem 4rem;
    }

    @media (max-width: 50rem) {
      padding: 4rem 4rem 1.5rem;
    }
  
    @media (max-width: 35rem) {
      padding: 2.5rem 2rem 1.5rem;
    }
    
    .info {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem; 

      img {
        margin-right: 1.5rem;
      }

      p {
        margin: 0;
      }
    }
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}