// Stylesheet for variables
@import '../shared/styles/variables.scss';

.footer {
  margin: 0;
}

.inner {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;

  @media (max-width: 83rem) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: 50rem) {
    flex-wrap: wrap;

    & > div {
      width: 100%;

      &:first-child {
        margin-top: 2rem;
        order: 2;

        .content {
          max-width: 100%;
        }
      }
    }
  }
}

.column {
  display: flex;

  @media (max-width: 32rem) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.content {
  padding: 0;
  width: 100%;
  min-width: 13rem;
  max-width: 14.375rem;

  @media (max-width: 32rem) {
    display: block;
    margin: 2rem auto 0;
    text-align: center;
  }

  @media (max-width: 59rem) {
    min-width: 10rem;
  }

  li {
    list-style: none;
    margin-bottom: 0.75rem;
    line-height: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.25rem 0 1.5rem;
  }
}

.socials {
  display: flex;
  align-items: flex-end;

  @media (max-width: 32rem) {
    justify-content: center;
  }
  
  a {
    margin: 0 1.5rem 0 0;

    @media (max-width: 32rem) {
      margin: 0 0.5rem;
      border: 1px solid red;
    }
  }
}