// import variables
@import '../../shared/styles/variables.scss';

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 2rem 2rem 0;

  .inner {
    border-radius: 0.75rem;
    background: $lightgreen;
    color: $darkgreen;
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 4rem;

    ul {
      margin: 0;
      display: flex;

      li {
        font-size: 1.2rem;
        list-style: none;
        margin-left: 2rem;
      }
    }

    img {
      max-height: 4rem;
    }
  }
}