@import '../shared/styles/variables.scss';

.hero {
  height: 52.5rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.heroleft {
  text-align: left;
}

.title {
  color: $darkgreen;
}

.img {
  z-index: -9999;
  object-fit: cover;
  object-position: 0 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}