// Stylesheet for variables
@import '../shared/styles/variables.scss';


// Backgrounds
.bg {
  background-color: $lightgreen;
}

.brownbg {
  background: $lightbrown;
}

.halfbg {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 64%;
    background: $lightgreen;
    z-index: -9999;
  }
}




// Constricts
.constrict {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 77rem;
}



// Paddings
.padding {
  padding: 4rem 4.5rem;

  @media (max-width: 60rem) {
    padding: 4rem 4rem;
  }

  @media (max-width: 35rem) {
    padding: 2.5rem 2rem;
  }
}




// Text colors
.whitecolor {
  color: $white;
}

.greencolor {
  color: $darkgreen
}



// Titles
.h1 {
  font-size: 6rem;
  font-weight: bold;
}

.h2 {
  font-size: 3.25rem;
  font-weight: bold;
  margin: 0 0 2.5rem 0;
}

.h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
}

.h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
}


// Text
.intro {
  font-size: 2.265rem;
  line-height: 2.865rem;
  font-weight: 200;
  margin: 0 0 2.5rem 0;
}


// Animation
.underline {
  position: relative;
  overflow-x: hidden;
  display: inline-block;
  margin: auto;
  padding-bottom: 0.1rem;

  &:after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid $darkgreen;
    transform: translateX(-101%);
    transition: 0.5s ease;
  }

  @media (min-width: 59rem) {
    &:hover {
      &:after {
        transform: translateX(0);
      }
    }
  }
}