// Stylesheet for variables
@import '../shared/styles/variables.scss';

.inner {
  width: 100%;
  max-width: 56rem;
  border-radius: 0.5rem;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 3.5rem 4rem;

  @media (max-width: 60rem) {
    padding: 2.75rem 3rem;
  }

  @media (max-width: 35rem) {
    padding: 2.5rem 2.75rem;
  }
}

.subscribe {
  display: flex;

  @media (max-width: 40rem) {
    flex-wrap: wrap;
  }

  .input,
  .submit {
    border-radius: 0.25rem;
    padding: 1.25rem;
    font-size: 1rem;
    border: 0;
    background: 0;
  }

  .input {
    width: 100%;
    border: 0.16rem solid $black;
    margin-right: 1.5rem;

    &::placeholder {
      opacity: 0.75;
    }
  }

  .submit {
    min-width: 11.25rem;
    background: $black;
    color: $lightbrown;

    &:hover {
      cursor: pointer;
    }
  }

  .input,
  .submit {
    @media (max-width: 40rem) {
      width: 100%;
      margin: 0 0 1rem;
    }
  }
}